##
# GUESTBOOK
# Zkušební projekt v Nette a Dibi
# 
# @author Miroslav Mrázek <miroslav.mrazek@gmail.com>
#

services:
	- Guestbook\Components\ILoginFormFactory
	- Guestbook\Components\ILogoutControlFactory
	- Guestbook\Components\DiscussionControlFactory