{**
 * GUESTBOOK
 * Zkušební projekt v Nette a Dibi
 * 
 * @author Miroslav Mrázek <miroslav.mrazek@gmail.com>
 *}

{block content}

<h1>Kniha návštěv</h1>
<p>Pište nám co chcete, my si co chceme přečteme.</p><br>

{control guestbook}

{/block content}
