{**
 * GUESTBOOK
 * Zkušební projekt v Nette a Dibi
 * 
 * @author Miroslav Mrázek <miroslav.mrazek@gmail.com>
 *}

{block content}

<h1 n:block=title>Přihlášení</h1>

{control loginForm}

{/block content}
